<p>Olá, <%= @resource.profile_member.full_name %>!</p>

<p>Alguém solicitou um link de alteração de senha para sua conta do Brechó Rosa Azul. Para atualizar sua senha, basta clicar no link abaixo:</p>

<p><%= link_to 'Alterar Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você que solicitou, favor ignorar este e-mail.</p>
<p>Sua senha não será alterada até acessar o link acima, informar uma nova senha e confirmar.</p>
