<div class="container">

    <div class="row" style="padding-left:15%;">
  
      <div class="col-lg-12">
  
        <h2 class="my-4">Editando Anúncio</h2><br>

        <div class="list-group">
            <%= render partial: 'site/profile/ads/shared/form' %>
        </div>
      </div>
  
      <div class="col-lg-12">
          <% 50.times do %><br><% end %>
      </div>
    </div>
  </div>